body {
  font-family: "open sans", sans-serif;
  margin:0;
  padding:0;
  background-color: #a100004d;
  color: #333;
}

.hero {
  background-color: #ff9933;
  color: rgba(22, 11, 11, 0.873);
  text-align: center;
  padding: 60px 20px;
  background-size: cover;
  background-position: center;
  background-image: url(assets/pannkakor.jpg);
}

.hero-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(36, 34, 34, 0.645);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0.2em;
  color: #cc6600;
}

.hero p {
  font-size: 1.2em;
}

.recipe-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.ingredients, .instructions {
  margin-bottom: 30px;
  padding: 20px;
  border-left: 5px solid #ff9933;
}

h2 {
  color: #cc6600;
  border-bottom: 2px solid #ffddaa;
  padding-bottom: 5px;
}

ul, ol {
  line-height: 1.6;
}

.serving-suggestions {
  margin-top: 40px;
  padding-bottom: 20px;
}

.image-gallery {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.gallery-image-wrapper {
  flex: 1;
  height: 300px; 
  border-radius: 4px;
  overflow: hidden;
}

.gallery-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 600px) {
   .hero {
    padding: 40px 10px;
  }

  .recipe-container {
    padding: 15px;
    margin: 20px 10px;
  }

  .hero-card {
    padding: 20px 15px;
  }

  .image-gallery {
    flex-direction: column;
    gap: 10px;
  }


}